<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="abbott" translate="label" sortOrder="999">
            <label>Abbott Configurations</label>
        </tab>
        <section id="address_validation" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <label>Address Validation</label>
            <tab>abbott</tab>
            <resource>Abbott_AddressValidation::config_abbott_address_validation</resource>
            <group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>General settings</label>
                <field id="enable" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Enable the address validation</label>
                    <comment>This indicates if the address validation would be done or not</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_on_frontend" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Allow the address validation on the front-store</label>
                    <comment>This indicates if the address would needs to be validated in the front-store</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="enable_on_admin" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Allow the address validation on the MBO</label>
                    <comment>This indicates if the address would needs to be validated in the MBO</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="require_valid_address" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Is valid address required</label>
                    <comment>If enabled, a valid address would be required to proceed (effective on front-store)</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">0</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
